
<div class="formulaire">
<form [formGroup]="searchForm" (ngSubmit)="submit()">
  <div formGroupName="infos">
    <div>
      <label> Identifiant : </label>
      <input type="text" formControlName="id">
    </div>
    <div>
      <label> Titre : </label>
      <input type="text" formControlName="title">
      <div *ngIf=" isSubmitted && searchForm.get('infos')?.hasError('isRequired')">
        L'un des deux champs Identifiant ou 'Titre' doit être renseigné
      </div>
    </div>
  </div>
  <div>
    <label> Type :</label>
    <select formControlName="type">
      <option value="film">Film</option>
      <option value="série">Série</option>
      <option value="épisode">Episode</option>
    </select>
  </div>




  <div *ngIf=" searchForm.get('type')?.value === 'épisode'">
    <label>Numéro de l'épisode :</label>
    <input type="number" formControlName="episodeNumber">
  </div>


  <div *ngIf="searchForm.get('type')?.value === 'série'">
    <label>plateforme de streaming :</label>
    <input type="text" formControlName="plateformStream">
  </div>

  <div>



    <label> Année de sortie :</label>
    <input type="number" formControlName="releaseYear">
    <div *ngIf="isSubmitted && searchForm.get('releaseYear')?.hasError('min')">
      L'année doit être comprise entre {{minYear}} et {{maxYear}}
    </div>
  </div>
  <div>
    <label> Fiche :</label>
    <select formControlName="sheet">
      <option value="complète">Complète</option>
      <option value="courte">Courte</option>
    </select>
  </div>

  <button type="submit">Envoyer</button>
</form></div>
